{% extends 'index.html' %}

{% block content-container %}
    <!--Page Title-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <div id="page-title">
        <h1 class="page-header text-overflow">主机列表</h1>

        <!--Searchbox-->
        <div class="searchbox">
            <div class="input-group custom-search-form">
                <input type="text" class="form-control" placeholder="Search..">
                <span class="input-group-btn">
                    <button class="text-muted" type="button"><i class="pli-magnifi-glass"></i></button>
                </span>
            </div>
        </div>
    </div>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End page title-->

   <!--Breadcrumb-->
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">主机列表</li>
    </ol>
    <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
    <!--End breadcrumb-->

    <div id="page-content">
        <div class="panel col-lg-3">
            <div class="panel-heading">
                <h3 class="panel-title">主机组 <span id="selected_hosts"></span></h3>
            </div>
            <div class="panel-body">

               <ul class="list-group" id="host_groups">
             {% for group in request.user.account.host_groups.all %}
                <!--<li class="list-group-item" onclick="DisplayHostList(this)"><span class="badge badge-success">{{ group.host_user_binds.count }}</span>-->
                <li class="list-group-item"><span class="badge badge-success">{{ group.host_user_binds.count }}</span>
                    <input type="checkbox" onclick="CheckAll(this)">
                    <a onclick="DisplayHostList(this)">{{ group.name }}</a>
                   <ul class="hide">
                       {% for bind_host in group.host_user_binds.all %}
                            <li><input onclick="ShowCheckedHostCount()" type="checkbox" value="{{ bind_host.id }}">{{ bind_host.host.hostname }}->{{ bind_host.host.ip_addr }}</li>
                       {% endfor %}
                   </ul>
                </li>
             {% endfor %}
                <li class="list-group-item"><span class="badge badge-success">{{ request.user.account.host_user_binds.count }}</span>
                    <input type="checkbox" onclick="CheckAll(this)">
                    <a onclick="DisplayHostList(this)">未分组主机</a>
                   <ul class="hide">
                       {% for bind_host in request.user.account.host_user_binds.all %}
                        <li><input onclick="ShowCheckedHostCount()" type="checkbox" value="{{ bind_host.id }}">{{ bind_host.host.hostname }}->{{ bind_host.host.ip_addr }}</li>
                       {% endfor %}
                   </ul>
                </li>
            </ul>
            </div>
        </div>

       <div class="col-lg-9">
           <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">命令</h3>
                </div>
                <div class="panel-body">
                    <textarea class="form-control" id="cmd"></textarea>
                    <button onclick="PostTask('cmd')" class="btn btn-info pull-right">执行</button>
                    <button class="btn btn-danger pull-right">终止</button>
                </div>
           </div>

            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">任务结果</h3>
                </div>
                <div class="panel-body">
                    <div id="task_result"></div>
                </div>
           </div>

        </div>
    </div>

<script>
    /* 点击后 显示列表或隐藏列表*/
    function DisplayHostList(self) {
//        $(self).children().toggleClass("hide");
        $(self).next().toggleClass("hide");
    }

    /* 全选*/
    function CheckAll(self) {
//        console.log($(self).prop('checked'))
        $(self).parent().find("ul :checkbox").prop('checked',$(self).prop('checked'))
        ShowCheckedHostCount()
    }

    /* 显示选中的主机数*/
    function ShowCheckedHostCount() {
        var selected_host_count = $("#host_groups ul").find(":checked").length
        $("#selected_hosts").text(selected_host_count)
        return selected_host_count
    }

    function GetTaskResult(callback) {
        $.getJSON("{% url 'get_task_result' %}", {'task_id':task_id}, function (callback) {
            console.log(callback)
            var result_ele = ''
            $.each(callback,function (index,i) {
                var p_ele = "<p>" + i.host_user_bind__host__hostname + "(" + i.host_user_bind__host__ip_addr + ") ---" + i.status + "</p>"
                var res_ele = "<pre>" + i.result + "</pre>"
                single_result = p_ele + res_ele
                result_ele += single_result
            })
            $("#task_result").html(result_ele)
        }) // end getJSON
    }

    /* 提交执行命令*/
    function PostTask(task_type) {
        /*
        1、验证主机列表已选，命令已输入
        2、提交任务到后台
         */
        var selected_host_ids = []
        var selected_host_eles = $("#host_groups ul").find(":checked")
        $.each(selected_host_eles,function (index,ele) {
            selected_host_ids.push($(ele).val())
        })
//        console.log(selected_host_ids)
        if ( selected_host_ids.length == 0){
            alert("主机未选择！")
            return false
        }
        var cmd_text = $.trim($("#cmd").val())
        if ( cmd_text.length == 0) {
            alert("未输入命令！")
            return false
        }

        var task_data = {
            'task_type': task_type,
            'selected_host_ids': selected_host_ids,
            'cmd': cmd_text
        }
        $.post("{% url 'multitask' %}",{'csrfmiddlewaretoken':"{{ csrf_token }}",'task_data':JSON.stringify(task_data)},
        function (callback) {
           console.log(callback)  // task id
            var callback = JSON.parse(callback)
            GetTaskResult(callback.task_id)  // 执行后立即出结果
            var result_timer = setInterval(function () {
                GetTaskResult(callback.task_id)     // 随后每2s再次刷新结果，直到post完毕
            },2000)
        });  // end post
    }

</script>

{% endblock %}